@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Regular.woff2') format('woff2'),
         url('PlayfairDisplay-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('PlayfairDisplay-Bold.woff2') format('woff2'),
         url('PlayfairDisplay-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
         url('Roboto-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
         url('Roboto-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.woff2') format('woff2'),
         url('Montserrat-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.woff2') format('woff2'),
         url('Montserrat-Bold.woff') format('woff');
    font-weight: 700;
}